html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Body layout - Start */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        'h'
        'm'
        'f'
;
    grid-gap: 10px;
}

.wrapper > header {
    grid-area: h;
}

.wrapper > main {
    grid-area: m;
}

.wrapper > footer {
    grid-area: f;
}
/* Body layout - End */

/* Header layout - Start */
header {
    grid-template-areas:
        'header navigation'
    ;
}

header h1 {
    grid-area: header;
}

header nav {
    display: grid;
    grid-area: navigation;
    align-items: center;
}
/* Header layout - End */

/* Main layout - Start */
main {
    display: grid;
    grid-template-areas:
        'heading'
        'input'
        'output'
    ;
}

main h1 {
    grid-area: heading;
}

main form {
    grid-area: input;
}

main span {
    grid-area: output;
}
/* Main layout - End */

/* Footer layout - Start */
footer {
    display: grid;
    grid-template-areas:
        'license navigation'
    ;
}

footer > span {
    display: grid;
    grid-area: license;
}

footer > nav {
    grid-area: navigation;
}
/* Footer layout - End */