body {
    background-color: var(--background-color);
}

header {
    background-color: var(--header-color);
}

nav ul {
    display: block;
    margin: 0;
}

nav li {
    float: right;
    display: grid;
    padding: 10px;
}

main {
    background-color: var(--main-color);
}

footer {
    background-color: var(--footer-color);
}